:root {
  --main: wheat;
  --A: #bb4430;
  --B: #f3dfa2;
  --C: #7ebdc2;
  --D: #efe6dd;
  --E: orange;
  --F: orangered;
  --G: blueviolet;
  --H: olive;
  --I: crimson;
  --J: teal;
}

.app {
  background: #231f20;
  height: 100%;
}

.header {
  height: 200px;
  border: 2px solid var(--main);
  display: flex;
}

.body1 {
  border: 2px solid var(--main);
  display: flex;
}

.body2 {
  height: 500px;
  border: 2px solid var(--main);
  display: flex;
}

.body3 {
  height: 500px;
  border: 2px solid var(--main);
  display: flex;
}
