.lineGraph {
  margin-top: 50px;
  margin-left: 50px;
  height: 400px;
  width: 400px;
  border: 2px solid var(--main);
  display: flex;
  overflow: hidden;
}

.body2 {
  display: flex;
  justify-content: space-evenly;
}

.rows {
  flex-wrap: wrap;
  overflow: hidden;
}

.body2Left {
  display: flex;
}

.column {
  width: 400px;
  height: 20px;
  display: flex;
}

.btn {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
  color: var(--main);
  background-color: transparent;
  border: 2px solid var(--main);
  font-size: 20px;
  outline: none;
}

.bar {
  width: 60px;
  margin-top: 100px;
  background-color: var(--main);
}

.lineGraphMiddle {
  display: flex;
  justify-content: space-evenly;
}

.dataNames {
  display: flex;
  margin-left: 50px;
}

.dataNames > h3 {
  width: 90px;
  height: 20px;
  text-align: center;
}

.dataName1 {
  margin-left: 22px;
}

.box {
  text-align: center;
  display: flex;
  align-items: flex-end;
}
