.headerLeft {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 30px;
}

.headerLeft > h1 {
  cursor: pointer;
}

.headerRight {
  flex: 0.2;
  align-items: center;
}

.headerRight > img {
  height: 100px;
  width: 100px;
  border: 2px solid var(--C);
}
