.headerLeft {
  display: flex;
  flex: 0.7;
  align-items: center;
  font-size: 30px;
}

.headerLeft > h1 {
  cursor: pointer;
}

.headerRight {
  flex: 0.3;
  align-items: center;
  margin-top: 40px;
  margin-left: 100px;
}
